@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;600&family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    // add color later
    --primary: '#fff';
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.6rem;
    text-rendering: optimizeSpeed;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}